
:root {
    --bg-color: #071010;
    --font-primary-color: #EE9750;
    --font-secondary-color: #F8C88D;
    --header-height: 200px;
    --hall-left-width: 300px;
    --sign-post-height: 600px;
    --sign-post-width: 600px;
    --sign-post-font-size: 28px;
}

body, div {
    position: relative;
}

#root {
    height: 100%;
}

.App {
    text-align: center;
    background-color: var(--bg-color);

    height: 100%;
    width: 100%;
    /*position: relative;*/
    box-sizing: border-box;
    font-family: 'Mountains of Christmas', serif;
}

@media screen and (max-height: 1050px){
    .App{
        height: auto;
        min-height: 100%;
    }
}

body {
    height: 100vh;
    width: 100%;
}

.error {
    color: #fd5151;
    font-size: 16px;
    z-index: 5;
    font-weight: bold;
    opacity: 1;
    font-family: sans-serif;
    margin: 5px 0;
}

.form-error {
    font-size: 20px;
    margin-top: 30px;

}

.hov:hover {
    opacity: 0.8;
    cursor: pointer;
}


.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
